/* This style sheet is taken from  https://www.w3schools.com/howto/howto_js_tabs.asp> */
.ss{
    display: flex;
    justify-content: space-between;

}
/*make divs in a row*/
.ib {
    display: flex;
}

.itemBlock {
    width: 300px;
    padding: 40px;
    font-size: 100%;
}

/* Style the tab */
.tab {
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    max-height: 150px;
}

.logo {
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    height: 150px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    font-size: 100%;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    font-size: 150%;
}

html {
    text-align: center;
}

button {
    font-size: 30%;
}

body {
    background-color: lightblue;
}

h1 {
    color: black;
    font-family: sans-serif;
    font-size: 300%;
}

h3 {
    color: black;
    font-size: 150%;

}

.h4 {
    font-family: sans-serif;
}

.h5 {
    font-family: sans-serif;
}

.h6 {
    font-family: sans-serif;
}

p {
    font-size: 40%;
}
info{
    font-size: 60%;
    font-family: "Gill Sans", sans-serif;

}
profile{
    font-size: 40%;
    font-family: "Gill Sans", sans-serif;

}


div {
    font-size: 120%;
}

.nameetage {
    margin-top: 50px;
    margin-bottom: 25px;
    align-items: center;
    background-color: black;
}

#submitButton {
    background-color: cyan;
    padding: 14px 28px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

#signature {
    text-align: right;
    color: blueviolet;
    font-style: italic;
    font-size: 150%;
}

.tarea {
    height: auto;
    width: auto;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}

form
 {
    text-align: center;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}
.sa{
    display:flex;
}
.inline-icon{
    width:50px;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    
}

.row{
    display: flex;
    justify-content: center;
}

.icon{
    max-width: 75px;
}

.bt {
    font: bold 20px Arial;
    text-decoration: none;
    background-color: dodgerblue;
    color: whitesmoke;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}
